button{
  margin: 5px;
  background-color: #0c81e8;
  color: white;
  padding: .5rem;
  float: right;
  margin: .1rem;
  border-radius: 15%;
  border: 1px solid white;
  cursor: pointer;
}

nav{
  background-color:#0c81e8;
  width:100%;
  display: flex;
  justify-content:flex-end;
  padding: .2rem;
}

body{
  text-align: center;
}

p{
  font-weight: 700;
  /* font-style: italic; */
}

button:hover{
  background-color: white;
  color: #0c81e8;
}